.btn-success{
  background-color: pink;
  border:pink;
  box-shadow: 0px 0px 5px 0px black;
}
.btn-success:hover{
  background-color: red;
  border: red;
}
.btn-success:active{
  background-color: pink;
  border: pink;
}
.btn-success:focus{
  background-color: pink;
  border: pink;
}
.table-striped>tbody>tr:nth-of-type(odd) {
    background-color: green;
}
.table-striped>tbody>tr:nth-of-type(even) {
    background-color: gray;
}
.d1{
  background-color:blue;
}
.d2{
  background-color: gray;
}
.logo{
  width: 25px;
  margin-top: -7px;
  margin-right: 40px;
}
.conteudo{
  margin-top: 80px;
}
